<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 인증페이지</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap/min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>