{{> layout/header }}

<div id="box" class="wp300">
    <h2>회원가입</h2>
    <form>
        <input type="text" class="wp300 mg-b15" id="id" placeholder="Enter to Id">
        <input type="text" class="wp300 mg-b15" id="pw" placeholder="Enter to Password">
        <input type="text" class="wp300 mg-b15" id="pwck" placeholder="Enter to PasswordCheck">
        <input type="text" class="wp300 mg-b15" id="email" placeholder="Enter to Email">
        <input type="text" class="wp300 mg-b15" id="phone" placeholder="Enter to Phone">
        <button id="signup" class="wp300">Sign up</button>
    </form>
</div>

{{> layout/footer }}